@import "../node_modules/bootstrap/scss/functions";
@import "./variables";
@import "../node_modules/bootstrap/scss/mixins";

//Modal自訂義
modal-dialog {
  position: relative;
  max-width: calc(100% - 1rem);
  min-height: calc(100% - 1rem);
  margin: .5rem auto;

  &.modal-lg {
    @include media-breakpoint-up(md) {
      max-width: 752px;
    }

    @include media-breakpoint-up(lg) {
      max-width: $modal-lg;
    }
  }
}

body {
  font-family: 'Helvetica', 'SF Pro', 'Noto Sans TC', '微軟正黑體', sans-serif !important;
}

// 灰按鈕
.btn-custom {
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s, color 0.3s;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  color: #000;
}

.btn-custom:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  color: #000;
}

.btn-custom:active {
  background-color: #000;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  color: #fff;
}

// 黑按鈕
.btn-custom-dark {
  background-color: rgba(0, 0, 0);
  transition: background-color 0.3s, color 0.3s;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  color: #fff;
}

.btn-custom-dark:hover {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  color: #fff;
}

// navbar按鈕
.btn-custom-navbar {
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  color: #000;
}

.btn-custom-navbar:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  color: #000;
}

.btn-custom-navbar:active {
  background-color: #000;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  color: #fff;
}

.nav-border {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
}

// 背景漸層
.bg-gray-gradient {
  background: linear-gradient(145deg, rgba(240, 240, 240, 0.5), rgba(200, 200, 200, 0.5));
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.bg-white-gradient {
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.btn-dark-custom {
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}