@import "../node_modules/bootstrap/scss/functions";
@import "./variables";
@import "../node_modules/bootstrap/scss/mixins";

//Modal自訂義
.modal-dialog {
  position: relative;
  width: 100%;
  max-width: calc(100% - 1rem);
  min-height: calc(100% - 1rem);
  margin: .5rem auto;
  
  &.modal-lg {
    @include media-breakpoint-up(md) {
      max-width: 752px;
    }
    @include media-breakpoint-up(lg) {
      max-width: $modal-lg;
    }
  }
}